@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');

body{
    /* uigradients.com for gradient generator */
    background: #4B79A1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:white;
    font-family: 'Shizuru', cursive;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
}

h1{
    font-size:2.8em;

}
    
h4{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2.0em;
    margin-bottom:100px;
}

button{
    
    width:200px;
    height:200px;
    background: #00b09b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0px 0px 40px 20px rgb(248, 223, 0);
    color:white;
    border:none;
    border-radius:50%;
    text-align:center;
    /*border: 1px solid coral;*/
    cursor:pointer;
    font-size:1.8em;
}
